@model Railway.Web.Models.Home.IndexViewModel

@{
    ViewBag.Title = "ConfirmOrder";
}

<ol class="breadcrumb">
    <li>Route</li>
    <li>Train</li>
    <li>Car</li>
    <li class="active">Passengers</li>
</ol>

<h2>Home</h2>